/* Mengatur tampilan dasar halaman */
body {
    font-family: 'Times New Roman', Times, serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #15ebcb;
    /* GANTI WARNA BACKGROUND DI SINI */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Mengatur kartu profil */
.card {
    background-color: rgb(78, 255, 231);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

/* Mengatur foto agar bulat */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #0040ff;
    /* GANTI WARNA BINGKAI FOTO */
}

/* Mengatur tombol */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #ff0000;
    /* GANTI WARNA TOMBOL */
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9;
}